@import "../../../css/Palette";

.login {
  display: flex;

  label {
    color: $textcolor!important;
  }
  &__image {
    flex: 2;
  }
  &__form_wrapper {
    flex: 1;
    margin: 50px;

  }
  &__password span{
    box-sizing: border-box;
  }

}