.guess-melody-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .guess-melody-logo {
    animation: guess-melody-logo-spin infinite 20s linear;
  }
}

.guess-melody-header {
  background-color: darkcyan;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.guess-melody-link {
  color: #61dafb;
}

@keyframes guess-melody-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.guess-melody-button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px auto;
}
.guess-melody-button {
  cursor: pointer;
  background-color: #ECEDDC;
  border: 1px dotted brown;
  padding: 20px 20px;
  border-radius: 20px;
  color: brown;
  font-weight: 900;
  margin: 0 70px;
}
.christmas-balls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}
.christmas-hat {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
}
.christmas-text {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
}
.christmas-santa {
  display: block;
  position: absolute;
  top:0;
  right: 0;
  width: 100px;
}
@media screen and (min-width: 1600px) {
  .christmas-hat {
    width: 250px;
  }
  .christmas-balls {
    width: 300px;
  }
  .christmas-text {
    width: 300px;
  }
  .christmas-santa {
    width: 200px;
  }
}
