.guess-melody-logo {
  height: 15vmin;
  pointer-events: none;
  margin: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .guess-melody-logo {
    animation: guess-melody-logo-spin infinite 20s linear;
  }
}

.guess-melody-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.guess-melody-link {
  color: #61dafb;
}

@keyframes guess-melody-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.guess-melody-button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px auto;
}
.guess-melody-button {
  cursor: pointer;
  background-color: #ECEDDC;
  border: 1px dotted brown;
  padding: 20px 20px;
  border-radius: 20px;
  color: brown;
  font-weight: 900;
  margin: 0 70px;
}

