.round-score{
    height: 10vh;
    background-color: black;
    width: 15vh;
    color: yellowgreen;
    font-weight: 700;
    font-size: 40px;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    margin: 2vh auto;
}
