.navbar {

    width: 100%;

    &__tab {
        flex: 1;
        font-size: 18px;
        line-height: 21px;
        font-weight: 700;

    }
    &__tab-wrapper {
        list-style-type: none;
        display: flex;
    }
}
