$backroundcolor: #784ba0;
$pink: #ff3cac;
$blue: #2b86c5;
$black: #000000;
$textcolor: #f4f4f9;
$powderblue: #b8dbd9;
$green: #70c1b3;
$turquoise: #b2dbbf;
$yellow: #f3ffbd;
$brightyellow: #f3cf14;
$red: #a30015;
