.error-boundary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__image {
    margin-bottom: 40px;
    width: 40%;
    svg {
      max-height: 60vh;
    }
  }
  &__button {
  }
}
