.round-score{
    height: 100px;
    background-color: black;
    width: 100px;
    color: yellowgreen;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
}
