.main-masonry {
    &__wrapper {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    &__gamecard {
        position: relative;
    }

    &__gamecard_text {
        position: absolute;
        display: flex;
    }

    &__gamecard_img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;

    }
}
