.main-masonry {
    &__wrapper {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 100%;
        grid-template-rows: repeat(4, 1fr) ;
        column-gap: 10px;
        row-gap: 15px;
        grid-template-areas:
        "one two three"
        "one four three"
        "five four six"
        "seven eight nine"
    }

    &__gamecard {
        display: block;
        position: relative;
        height: 100%;
        min-height: 30vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__gamecard {
        &_0 {
            background-image: url("../../../game-images/100k1.png");
            grid-area: one;
        }
        &_1 {
            background-image: url("../../../game-images/guessmelody.png");
        }
        &_2 {
            grid-area: three;
            background-image: url("../../../game-images/ads.png");
        }
        &_3 {
            grid-area: four;
            background-image: url("../../../game-images/jeopardy.png");
        }
        &_4 {
            background-image: url("../../../game-images/truthoraction.png");
        }
        &_5 {
            background-image: url("../../../game-images/whatwherewhen.png");
        }
        &_6 {
            background-image: url("../../../game-images/theweakestlink.png");
        }
        &_7 {
            background-image: url("../../../game-images/guessthecity.png");
        }
        &_8 {
            background-image: url("../../../game-images/quickmath.png");
        }
    }

    &__gamecard_text {
        position: absolute;
        display: flex;
    }
}
